li {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
}
.box {
  width: 100%;
  height: auto;
}
.backtop {
  position: fixed;
  right: 20px;
  bottom: 40px;
  width: 30px;
  height: 30px;
  background: #000;
  text-align: center;
  line-height: 25px;
  font-weight: 900;
  color: #fff;
  display: none;
  cursor: pointer;
  user-select: none;
}
.h-btn {
  padding: 11px 30px;
  color: #ccc;
  border: 2px solid #ccc;
  background: transparent;
  font-size: 11px;
  border-radius: 4px;
  display: block;
  margin: 30px auto 50px;
}
.h-btn:hover {
  color: #fff;
  border-color: #fff;
}
.head {
  padding: 100px 150px 80px 150px;
  color: #888;
  text-align: center;
}
.head > p {
  font-size: 22px;
}
.head > span {
  font-size: 12px;
  letter-spacing: 2px;
}
header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../img/list3.webp") no-repeat 0 0 /100% ;
  background-attachment: fixed;
}
header > .navbar {
  background: transparent;
  margin-top: 10%;
  line-height: 40px;
}
header > .navbar button {
  background: #ccc;
}
header > .navbar ul {
  margin: 0 auto;
}
header > .navbar li {
  margin: 0 20px;
}
header > .navbar li a {
  color: #EEEEEE !important;
  padding: 5px 10px;
  font-size: 13px;
}
header > .navbar li a:hover {
  color: lightblue!important;
}
header > .logo {
  position: absolute;
  left: calc(50% - (198px / 2));
  top: calc(60% - (127px / 2));
}
main {
  width: 100%;
  height: auto;
  margin: 0 auto!important;
  padding: 100px 0;
  color: #808080;
}
main .msg > p {
  margin: 0;
  line-height: 40px;
  font-size: 14px;
}
#mapbox {
  width: 100%;
  height: 300px;
}
.ft {
  text-align: center;
  background: #eee;
  width: 100%;
  height: auto;
  padding: 20px;
  font-size: 14px;
}
@media screen and (max-width: 992px) {
  header {
    width: 100%;
    height: 56vh;
  }
  header > .logo {
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -99px;
    margin-top: -63.5px;
  }
  .navbar {
    margin: 0!important;
    padding: 10px!important;
    background: #000 !important;
  }
  .navbar button {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
  }
  .navbar button span {
    margin: -8px 0 0 -6px;
  }
  .head {
    padding: 80px 0 40px 0;
  }
}
@media screen and (max-width: 786px) {
  header {
    width: 100%;
    height: 45vh;
    background: url("../img/list3.webp") no-repeat -80px 0 /300% ;
  }
  header > .logo {
    position: absolute;
    left: 50%;
    top: 25%;
    margin-left: -99px;
    margin-top: -63.5px;
  }
  main {
    padding: 40px 20px;
  }
  main button {
    margin: 20px 0 60px;
  }
}
